nav > ul > li{
	background-color: #576574;
	margin: 1px;
	width: 10vw;
	list-style: none; /* Sem os efeitos da lista */

	float: left; /* Faz o selementos fluatuarem a esquerda */
	text-align: center;
}

nav > ul > li{
	transition: 2s;
}

nav > ul > li:hover{
	background-color: #ff3838;
}

nav > ul > li > a{
	transition: 2s;
}
nav > ul > li > a:hover{
	color: #ffffff;
	font-size: 20px;
}
.clearfix{
	clear: left;/* Limpa o efeito da esquerda, ou (both) para limpar os efeitos de todas que foram aplicados */
}

/*nav > a{
	margin: 5px;
	background-color: #576574;
	color: #ecf0f1;
}*/